body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
    color: #fff;
}

.upload-area {
    width: 350px;
    height: 200px;
    border: 2px dashed #0f9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.upload-area:hover {
    background: #222;
}
